# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Getting libraries
        run: |
          mkdir jbin
          mkdir lib
          # Libraries for src/
          curl https://repo1.maven.org/maven2/javax/servlet/javax.servlet-api/3.0.1/javax.servlet-api-3.0.1.jar -o lib/javax.servlet-api-3.0.1.jar
          curl https://packages.atlassian.com/maven-3rdparty/gnujaxp/gnujaxp/1.0.0/gnujaxp-1.0.0.jar -o lib/gnujaxp-1.0.0.jar
          curl https://repo1.maven.org/maven2/org/jfree/jcommon/1.0.24/jcommon-1.0.24.jar -o lib/jcommon-1.0.24.jar
          curl https://repo1.maven.org/maven2/jfree/jcommon/1.0.0-rc1/jcommon-1.0.0-rc1.jar -o lib/jcommon-1.0.0-rc1.jar
          
          # libraries for test/
          curl https://repo1.maven.org/maven2/org/mockito/mockito-all/2.0.2-beta/mockito-all-2.0.2-beta.jar -o lib/mockito-all-2.0.2-beta.jar
          curl https://repo1.maven.org/maven2/org/junit/jupiter/junit-jupiter-api/5.7.1/junit-jupiter-api-5.7.1.jar -o lib/junit-jupiter-api-5.7.1.jar

          
      - name: compile src/
        run: |
          # javac directory classpath soruce
          javac -d jbin -cp "jbin:lib/jcommon-1.0.24.jar:lib/jcommon-1.0.0-rc1.jar:lib/javax.servlet-api-3.0.1.jar:lib/gnujaxp-1.0.0.jar;" $(find src/ -name "*.java")
      
      - name: compile test/
        run: |
          javac -d jbin -cp "jbin:lib/mockito-all-2.0.2-beta.jar:lib/junit-jupiter-api-5.7.1.jar;" $(find test/ -name "*.java")
          
      - name: running Tests
        run: |
          java -jar lib/junit-platform-console-standalone-1.5.2.jar --class-path jbin --scan-class-path
